/* MADS4007 PROJECT G01 */
/* NAME: Qi (Anthony) Jiang */
/* STUDENT ID: 101452696 */
/* initialization */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: #EFEFEF;
}

a{
    text-decoration: none;
    color: #fff;
}

/* header */
header{
    background-color: #E2499F;
    padding-top: 1%;
    padding-bottom: 1%;
}

ul{
    text-align: center;
    list-style-type: none;
}

li{
    display: inline;
}

li > a{
    color: #fff;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 1% 2%;
}


/* main */
/* info part */
.main-info{
    background-image: url(./assets/city_music_fest_pircture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-info > img{
    width: 100vw;
    height: auto;
}

.main-info > h1{
    color: #fff;
    font-size: 7em;
    margin-bottom: 3vh;
}

.main-info > span{
    color: #fff;
    font-size: 2em;

}

.tickets-buy-button{
    color: #fff;
    background-color: #26D6C1;
    font-size: 18pt;
    width: 200px;
    padding: 10px 20px;
    margin-top: 10vh;
    border-radius: 35px;
    text-align: center;
    border: none;
}


/* lineup part */
.main-lineup{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-lineup > h2{
    font-size: xx-large;
    padding-top: 5vh;
}

.main-lineup > span{
    font-size: large;
    padding-top: 2vh;
}

.tickets-container{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    background-color: #fff;
    margin: 5vh 10vw;

}

.tickets-day{
    background-color: #E2499F;
    font-size: xx-large;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5vw 2vw;
}

.tickets-singers{
    margin: 2.5vw 2vw;
}

.tickets-container > .tickets-buy-button{
    margin: 2.5vw 2vw;
}


/* spotify playlist part */
.spotify-playlist{
    margin: 5vh 10vw;
}


/* tickets&passes */
.main-tickets-passes{
    background-color: #F8E22C;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-tickets-passes > h2{
    color: #E2499F;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 5vh;
}

.main-tickets-passes > span{
    color: #E2499F;
    font-size: large;
    padding-top: 2vh;
}

.tickets-passes-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 15%;
    padding-right: 15%;
}

.tickets-passes-sub-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: #fff;
    border-radius: 10px;
}

.tickets-passes-sub-container > i{
    font-size: xx-large;
    padding-top: 4vh;
}

.tickets-type{
    font-size: x-large;
    font-weight: bold;
    padding-top: 3vh;
}

.tickets-price{
    font-size: xx-large;
    font-weight: bold;
    color: #E2499F;
    padding-top: 2vh;
}

.tickets-passes-sub-container > .tickets-buy-button{
    margin-top: 2vh;
    margin-bottom: 2vh;

}



/* footer */
footer{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer > span{
    padding-top: 3vh;
    font-weight: bold;
}

footer > .footer-icons{
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.footer-icons i{
    font-size: x-large;
    padding: 0 0.5vw;
}